/* ÃƒÂ©Ã‚Â¡Ã‚Â¶ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â */
.index-header-banner {
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.index-header-banner a {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.index-header-banner img {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  max-height: 140px;
  object-fit: cover;
}

.header {
  position: relative;
  padding: 1px 0;
  margin: 0 auto;
  min-width: 1200px;
  box-shadow: 0px 8px 20px -8px rgba(160, 156, 146, 0.2);
}


.header-download {
  display: none;
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 100%;
  height: 3rem;
  color: #333;
  overflow: hidden;
  box-sizing: border-box;
}

.header-download .head-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header-download .logo {
  display: block;
}

.header-download img {
  margin: 0 0 0 10px;
  display: block;
  width: 6rem;
}

.header-content {
  float: right;
  margin-top: 20px;
}

.header-download .download-link {
  margin: 0 10px 0 0;
  padding: 0 5px;
  display: block;
  width: auto;
  line-height: 2;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.header-banner {
  margin: 0 auto;
  width: 1200px;
}

.header-banner img {
  display: block;
  width: 100%;
}

.header-nav {
  position: relative;
  margin: 40px auto;
  width: 1200px;
}

.header-nav .logo {
  display: block;
  float: left;
  width: 174px;
  height: 51px;
  margin-top: 12px;
}

.header-nav .search {
  margin: 18px auto 0 auto;
  position: relative;
  width: 108px;
  height: 18px;
  border: 1px solid #cc3333;
  border-radius: 8px;
  overflow: hidden;
}

.header-nav .search input {
  margin-top: 1px;
  float: left;
  display: block;
  width: 84px;
  height: 18px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 4px;
}

.header-nav .search .icon {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.header-nav .code-list {
  position: relative;
  float: right;
  font-size: 0;
}

.header-nav .code-li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header-nav .code-li img {
  display: block;
  width: 22px;
}

.header-nav {
  width: 1200px;
  height: 130px;
  margin: 0 auto;
  padding: 16px 5px 24px 10px;
}

.header-nav .nav-list {
  float: left;
  margin: 10px 0 0 40px;
  position: relative;
}

.header-nav .nav-list li {
  position: relative;
  margin-right: 28px;
  float: left;
  min-height: 80px;
}
.header-nav .nav-list li:nth-last-child(1){
  margin-right: 0;
}
.header-nav .nav-list .nav-title {
  display: block;
  font-size: 18px;
  width: 18px;
  color: #000;
}

.header-nav .nav-list li:hover .nav-title {
  color: #CC3333;
}

.header-nav .active .nav-title {
  color: #CC3333;
  font-weight: bold;
}

.header-nav .line {
  display: none;
  position: absolute;
  left: -19px;
  bottom: -10px;
  width: 58px;
  height: 4px;
  background-color: #CC3333;
}

.header-nav .active .line {
  display: block;
}

.header-nav .arrow {
  position: relative;
  left: 0;
  top: 4px;
}

.header-nav .arrow .iconfont {
  color: #9D9D9D;
  font-size: 18px;
}

.header-nav .subitem {
  display: none;
  height: auto;
  width: 164px;
  position: absolute;
  top: 100%;
  left: -72px;
  z-index: 999;
  background: #fff;
  text-align: center;
  line-height: 24px;
  border: 1px solid #e5e6e5;
  padding: 15px 10px;
}

.header-nav .subitem a {
  margin: 0 10px;
  display: inline-block;
  color: #65666a;
  font-size: 16px;
  width: 48px;
  line-height: 2;
}

.header-nav li:hover .subitem {
  display: block;

}

.foot {
  width: 100%;
  background: #eee;
  padding: 15px 0
}

.foot .footer {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  clear: both;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
  color: #666;
  line-height: 32px
}

.foot .footer .foot-link {
  display: inline-block;
  font-size: 16px;
}

.foot .footer .foot-link a {
  color: #666;
}

.foot .footer .foot-link a:nth-child(1):after {
  margin-right: 5px;
  margin-left: 10px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 1px;
  background-color: #666;
}

.code-dialog {
  display: none;
  position: absolute;
  top: 60px;
  left: -18px;
  z-index: 9999;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e5e6e5;
  cursor: default;
  box-shadow: 2px 2px 4px 0 #dee4e6, -2px -2px 4px 0 #fff;
}

.code-dialog::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 21px;
  width: 0;
  height: 0;
  border-width: 0 12px 18px;
  z-index: 99;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.code-dialog::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 20px;
  width: 0;
  height: 0;
  border-width: 0 13px 19px;
  border-style: solid;
  border-color: transparent transparent #e5e6e5;
}

.code-li:hover .code-dialog {
  display: block;
}

.code-li .code-dialog .code-img {
  margin-bottom: 10px;
  display: block;
  width: 148px;
  height: 148px;
}

.code-dialog .code-content h4 {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
}

.code-dialog .code-content p {
  margin: 10px auto;
  width: 109px;
  line-height: 22px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: left;
  font-size: 12px;
}

.code-dialog .code-content p img {
  position: relative;
  top: 2px;
  margin-left: 12px;
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.content {
  margin: 40px auto;
  width: 1200px;
}

.content .slide-left {
  float: left;
  width: 860px;
}

.content .slide-right {
  float: right;
}

.slide-right .newsletter {
  padding: 5px 10px;
  width: 280px;
  height: 484px;
  background-color: #fff;
  box-sizing: border-box;
}


.newsletter .img {
  opacity: 0;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.newsletter .select {
  position: relative;
  line-height: 52px;
  border-bottom: 1px solid #CC3333;
}

.newsletter .select-value {
  font-size: 22px;
  color: #CC3333;
  overflow: hidden;
  cursor: pointer;
}

.newsletter .select-value .value {
  float: left;
}

.newsletter .select-value img {
  margin-top: 20px;
  float: right;
  width: 19px;
}

.newsletter .select-list {
  position: absolute;
  width: 100%;
  height: 0;
  border: 1px solid #e5e6e5;
  background: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 38px;
  border-bottom: 1px solid #cc3333;
  transition: all 0.3s;
  overflow: hidden;
}

.newsletter .select.show .select-list {
  height: 420px;
}

.newsletter .select-li {
  cursor: pointer;
}

.newsletter .select-li:hover {
  color: #fff;
  background-color: #CC3333;
}

.special-head {
  margin-top: 20px;
  overflow: hidden;
  line-height: 20px;
}

.special-head .title {
  font-size: 18px;
  color: #CC3333;
  float: left;
}

.special-head .more {
  float: right;
  cursor: pointer;
}

.special-head .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #9D9D9D;
  border-radius: 50%;
}
.special-head .more:hover .dot {
  background-color: #CC3333;
}
.video-panel {
  margin-top: 8px;
  width: 280px;
}

.video-panel .cover {
  display: block;
  width: 280px;
  cursor: pointer;
}

.video-panel .title {
 display: block;
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e2e;
  cursor: pointer;
}
.video-panel .title:hover{
  color: #CC3333;
}

.video-panel .base {
  color: #919191;
  font-size: 14px;
}

.video-panel .base span {
  margin-right: 5px;
}

.gov {
  margin: 30px 0;
  width: 280px;
  background-color: #fff;
}

.gov li {
  margin: 0 20px;
  padding: 30px 0;
  border-bottom: 1px solid #e5e6e5;
}

.gov li:nth-last-child(1) {
  border-bottom: none;
}

.gov li img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.big-special {
  margin: 30px 0;
  width: 280px;
}

.big-special img {
  display: block;
  width: 100%;
}

.small-special {
  margin: 10px 0;
  width: 280px;
}

.small-special img {
  display: block;
  width: 100%;
}

.swiper-banner {
  width: 860px;
  height: 484px;
}

.swiper-banner .swiper-button-next,
.swiper-banner .swiper-button-prev {
  display: none;
}

.swiper-banner .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide-title {
  position: absolute;
  bottom: 52px;
  left: 30px;
  right: 30px;
  z-index: 99;
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}

.swiper-banner .swiper-slide::after {
  content: "";
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  height: 110px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.swiper-banner .swiper-slide .swiper-item {
  position: relative;
}

.swiper-banner .swiper-slide img {
  display: block;
  width: 860px;
  height: 484px;
  object-fit: contain;
}


.swiper-banner .swiper-pagination-bullet {
  margin: 0 5px !important;
  opacity: 1;
  width: 6px;
  height: 6px;
  background: #b6b6b6;
  border-radius: 50%;
}

.swiper-banner .swiper-pagination {
  text-align: right;
  bottom: 15px;
  padding-right: 20px;
}

.swiper-banner .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px !important;
}

.swiper-banner .swiper-pagination-bullet-active {
  width: 22px;
  height: 6px;
  background: #ffffff;
  border-radius: 3px;
}

.swiper-master {
  margin: 8px 0 20px 0;
  width: 280px;
}

.swiper-master .swiper-slide img {
  display: block;
  width: 100%;
  height: 158px;
  object-fit: cover;
}

.swiper-master .swiper-pagination {
  text-align: right;
  padding-right: 10px;
}

.swiper-master .swiper-pagination-bullet {

  width: 6px;
  height: 6px;
  opacity: 1;
  background: #B6B6B6;
  border-radius: 50%;
}

.swiper-master .swiper-pagination-bullet-active {
  width: 23px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 3px;
}

.index-recommend {
  margin-top: 30px;
  position: relative;
  padding-right: 50px;
  width: 860px;
  height: 86px;
  padding: 8px 10px;
  overflow: hidden;
  zoom: 1;
  clear: both;
  background: #E6E6E6
}

.index-recommend .recommend-list {
  width: 800px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #000;
  word-wrap: break-word;
}

.index-recommend .recommend-list a {
  cursor: pointer;
  margin-right: 10px;
  line-height: 24px
}

.index-recommend .recommend-list a::before {
  position: relative;
  top: -3px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #CC3333;
}

.index-recommend .recommend-list a:hover {
  color: #CC3333
}

.index-recommend .recommend-more {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  padding-top: 14px;
  right: 10px;
  width: 20px;
  height: 64px;
  background: #CC3333;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.news-list {
  margin: 20px -10px;
  width: 880px;
  overflow: hidden;
}

.news-li {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  padding: 10px;
  width: 286px;
  border-bottom: 1px solid #C4C4C4;
  transition: transform .3s;
}

.news-li .news-content .title:hover {
  font-weight: bold;
  color: #CC3333
}

.news-li:nth-child(3n+1) {
  margin-left: 0;
}

.news-li>a {
  margin-bottom: 12px;
  display: block;
  width: 266px;
  height: 178px;
  overflow: hidden;
}

.news-li .news-cover {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  object-fit: contain;
}

.news-li a img:hover {
  transform: scale(1.1);
}

.news-li .under-line .bshare-custom {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 0;
}

.news-li .under-line .bshare-custom .icon-share {
  font-size: 20px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.news-li .under-line .bshare-custom:hover .bshare-hover {
  display: block;
  width: 116px;
  height: 53px;
  background: url(../img/bshareHoverBg.png);
}

.news-li .under-line .bshare-custom .bshare-hover {
  display: none;
  position: absolute;
  bottom: 8px;
  right: -10px;
  color: #CC3333;
}

.news-li .under-line .bshare-custom .bshare-hover>img:nth-child(1) {
  width: 119px;
  height: 56px;
}

.news-li .under-line .bshare-custom .bshare-hover .bshare-options {
  width: 100%;
  padding: 0px 20px;
  position: absolute;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-li .under-line .bshare-custom .bshare-hover .bshare-options>i {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}

.news-li .under-info span {
  margin-right: 10px;
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-li .news-content .title {
  line-height: 26px;
  height: 78px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.news-li .under-line {
  position: relative;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #919191;
  line-height: 24px;
  padding-right: 20px;
}

.news-more {
  margin-top: 20px;
  font-size: 18px;
  line-height: 36px;
  color: #919191;
  text-align: center;
  cursor: pointer;
}

.return-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 100px;
  cursor: pointer;
  width: 76px;
  height: 76;
  z-index: 999;
}

@media screen and (max-width: 750px) {
	 body {
    padding-top: 0 !important;
    background-image: none !important;
  }
  .index-header-banner {
    display: none;
  }

  .header {
    width: 100%;
    min-width: 100%;
  		background-color: #fff;
    border-bottom: 0.03125rem solid #e5e6e5;
  }

  .header-banner {
    display: none;
  }

  .header-download {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: #cc3333;
  }

  .header-content {
    display: none;
  }

  .header-nav {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .header-nav .nav-list {
    white-space: nowrap;
    overflow-x: scroll;
  }

  .header-nav .nav-list {
    padding: 0 1rem;
    margin: 0;
    width: 100%;
  }

  .header-nav .nav-list li {
    margin-right: 0.875rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    float: none;
    min-height: auto;
  }

  .header-nav .arrow,
  .header-nav .logo {
    display: none;
  }

  .header-nav .subitem {
    display: none;
  }

  .header-nav .nav-list .nav-title {
    width: auto;
    height: auto;
    font-size: 1rem;
  }

  .header-nav .line,
  .header-nav .active .line {
    display: none;
  }

  .content {
    margin: 0;
    width: 100%;
  }

  .content .slide-left {
    float: none;
    width: 100%;
  }

  .slide-right {
    display: none;
  }

  .swiper-banner {
    width: 100%;
    height: auto;
  }

  .swiper-banner .swiper-button-next,
  .swiper-banner .swiper-button-prev {
    display: block;
  }

  .swiper-banner .swiper-slide {
    padding-bottom: 56.25%;
  }

  .swiper-banner .swiper-slide a {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-banner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-banner .swiper-slide::after {
    height: 2rem;
    bottom: 0;
  }

  .swiper-slide-title {
    padding: 0 0.625rem;
    font-size: 0.875rem;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 2rem;
    ;
  }

  .swiper-banner .swiper-pagination-bullet-active {
    width: 15px;
    height: 3px;
  }

  .swiper-banner .swiper-pagination-bullet {
    margin: 0 5px !important;
    width: 8px;
    height: 3px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: none;
  }

  .index-recommend {
    display: none;
  }

  .news-list {
    margin: 0;
    width: 100%;
    padding: 0 0.9375rem;
    background: #fff;
    box-sizing: borer-box;
  }

  .news-li {
    margin: 0;
    padding: .9375rem 0;
    float: none;
    width: 100%;
    overflow: hidden;
    border-bottom: .03125rem solid #f0f0f0
  }

  .news-li>a {
    margin-bottom: 0;
    float: left;
    width: 8rem;
    height: 5.333rem;
  }

  .news-li .news-cover {
    float: left;
    width: 8rem;
    height: 5.333rem;
  }

  .news-li .news-content {
    margin-left: 8.625rem;
  }

  .news-li .news-content .title {
    line-height: 1.5rem;
    max-height: 3rem;
    height: auto;
    font-size: 0.9375rem;
    font-weight: normal;
  }

  .news-li .under-line {
    margin-top: 0.625rem;
    margin-bottom: 0;
    line-height: 1rem;
  }

  .news-li .under-line .bshare-custom {
    display: none;
  }

  .foot {
    display: none;
  }

  .return-top {
    bottom: 2rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .news-more {
    font-size: 1rem;
    margin: 0;
    background: #fff;
    padding-bottom: 0.625rem;
  }
}

.share-panel {
  display: none;
}

.share-wx-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.wx-panel {
  padding: 20px 0;
  position: fixed;
  left: 50%;
  top: 42%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #333;
  background-color: #fff;
  width: 370px;
  border-radius: 2px;
}

.wx-panel .panel-head {
  position: relative;
  padding: 0 28px;
  font-size: 20px;
  font-weight: bold;
}

.wx-panel .panel-head img {
  float: right;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.wx-panel .panel-foot {
  padding: 0 28px;
  font-size: 14px;
  text-align: justify;
}

.wx-panel .code {
  margin: 30px auto;
  display: block;
  width: 200px;
}